body {
  background-image: url(./pexels-lenar-10543821\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  margin-right: 30vw;
  margin-left: 30vw;
  width: auto;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

li {
  /* width: 30%; */
  margin-bottom: 25px;
  border: 2em solid rgb(90, 85, 85);
  padding: 2.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li:hover {
  background: linear-gradient(45deg, black, grey);
  border-bottom: 1em double rgb(77, 73, 73);
}